#root{
  background-color: #3A6351;
  font-family: 'Arial', sans-serif;
  color: #F2EDD7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.image-container img {
  width: 400px;
  height: 220px;
}

.score-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7B787;
  padding: 20px;
  border-radius: 40px;
}

.score-section h1 {
  color: #393232;
}

.score-section button {
  background-color: #2D3250;
  color: #F2EDD7;
  margin: 20px;
  padding: 15px;
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}
.score-section button:hover {
  background-color:#7077A1;
  color: #2D3250;
}

.answers-container p {
  font-size: 18px;
  font-weight: 600;
  color: #393232;
}

/* Navbar css */

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.nav-links a {
  margin: 10px 20px;
  padding: 10px 20px;
  color: #F2EDD7;
  background-color: #2D3250;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
  background-color:#7077A1;
  color: #2D3250;
  cursor: pointer;
}