.start-menu {
    height: 90vh;
    width: 80vw;
    background-color: #F7B787;
    border-radius: 170px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 2);
}

.start-menu{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.start-menu h1{
  font-size: 60px;
  color: #3E3232;
} 

.start-menu h2{
  font-size: 36px;
  color: #3E3232;
}


.start-menu button, .link-buttons button{
    width: 300px; 
    background-color:#2D3250;
    color: #F9E8D9;
    padding: 50px;
    margin-top: 2.5em;
    margin-inline: 30px;
    font-size: 1.8em;
    border-radius: 20px;
    cursor: pointer;
}
.start-menu button:hover {
    background-color:#7077A1;
    color: #2D3250;
    cursor: pointer;
  }

.select-diff{
    background-color: transparent;
  }

.link-buttons {
  background-color: #F7B787;
}