@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

.start-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40%;
  
}

.start-menu h1{
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  letter-spacing: 4px;
  color: #393232;
} 

.globe-container {
  position: absolute; 
  top: 25%; 
  left: 55%; 
  transform: translateX(-50%); 
  width: 15%; 
  z-index: 0; 
}

.undertitle-text {
  font-family: "Anton SC", sans-serif;
  font-size: 18px;
  color: #a5a2a2;
  margin-bottom: 30px;
  letter-spacing: 4px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.start-menu button, .link-buttons button{
    width: 350px; 
    background-color:#2D3250;
    color: #F9E8D9;
    padding: 40px;
    margin-top: 40px;
    margin-inline: 30px;
    font-size: 1.8em;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.start-menu button:hover, .link-buttons button:hover {
    background-color:#7077A1;
    color: #2D3250;
}

.select-diff{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  z-index: 2;
}

.link-buttons {
  background-color: #F7B787;
}