.start-menu {
    height: 50vh;
    width: 50vw;
    background-color: wheat;
}

.start-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .start-menu h1 {

} */

.start-menu button{
    background-color:midnightblue;
    color: aliceblue;
    padding: 15px;
    font-size: 1.5em;
    border-radius: 20px;
    cursor: pointer;
}
.start-menu button:hover {
    background-color:lightblue;
    color: darkblue;
    cursor: pointer;
  }