@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

.quiz-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    z-index: 2;
}

.globe-container-quiz {
    position: absolute; 
    top: 25%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: -1; 
}

.quiz-menu h1 {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    letter-spacing: 4px;
    color: #393232;
    /* background-color: rgb(102, 149, 126); */
    border-radius: 20px;
    border: none;
}

.quiz-buttons-container {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

.quiz-button {
    width: 300px; 
    background-color:#2D3250;
    color: #F9E8D9;
    padding: 30px;
    margin-inline: 30px;
    font-size: 1.4em;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
 
}

.quiz-button:hover {
    background-color: #7077A1;
    color: #2D3250;
}

.dropdown-container {
    position: relative;
}

.dropdown-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-content {
    position: absolute;
    top: 90%;
    left: 100px;
    background-color: #2D3250;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    display: block;
    background-color: #2D3250;
    color: #F2EDD7;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
    background-color: #7077A1;
    color: #2D3250;
}
