.quiz-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: #3A6351;
    color: #F2EDD7;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.quiz-menu h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #F2EDD7;
}

.quiz-buttons-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.quiz-button {
    background-color: #2D3250;
    color: #F2EDD7;
    padding: 20px 30px;
    margin: 10px;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.quiz-button:hover {
    background-color: #7077A1;
    color: #2D3250;
}

.dropdown-container {
    position: relative;
}

.dropdown-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-content {
    position: absolute;
    top: 90%;
    left: 0;
    background-color: #2D3250;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-item {
    display: block;
    background-color: #2D3250;
    color: #F2EDD7;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
    background-color: #7077A1;
    color: #2D3250;
}
